<h1>Image作成</h1>
<%= form_with model: @user, local: true do |form| %>
  
  <%= form.label :'ユーザー名' %>
  <%= form.text_field :name %>

  <%= form.label :'アカウントID' %> 
  <%= form.text_field :account_name %>

  <%= form.label :'メールアドレス' %>
  <%= form.text_field :email %>

  <%= form.label :'プロフィール' %>
  <%= form.text_field :prof %>


  <%= form.label :'パスワード'%>
  <%= form.password_field :password %>

  <%= form.label :'パスワード(確認)'%>
  <%= form.password_field :password_confirmation %>

  <%= form.label :picture %>
  <%= form.file_field :picture %>

  <p><%= form.submit %></p>
<% end %>
